<h1><%= @article.title %></h1>
<p>
  <% if @article.tags %>
    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  <% end %>
</p>
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>
<p><%= @article.body %></p>

<br><br>
<% if @article.created_by != nil %>
  Created by: <%= Author.find_by(email: @article.created_by).username %>
  <br>
  Created on <%= @article.created_at.strftime("%A, %B %e, at %l:%M%P") %>
<% end %>
<br><br>
Views: <%= @article.views %>
<br><br>
<% if logged_in? && (current_user.email == @article.created_by) %>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %><br><br>
<% end %>

<br><br>

<h3> Comments (<%= @article.comments.size %>) </h3>
<%= render partial: "articles/comment", collection: @article.comments %>


<%= render partial: 'comments/form' %>

<%= link_to "Back to List", articles_path %>
